.forecast-container{
    background-color: brown;
    height: 45%;
    width: 98%;
    top: 50%;
    left:10px;
    right:10px;
    bottom: 30%;
    border-radius: 20px;
    position: fixed;
}

.day-containers{
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
    margin: 10px;
    bottom: 10%;
}