.forecast-container{
    background-color: transparent;
    height: 49%;
    width: 98%;
    top: 47%;
    left:20px;
    right:20px;
    bottom: 30%;
    border-radius: 20px;
    position: fixed;
}

.day-containers{
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3);
    background-color: white;
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
    margin: 1%;
    box-sizing: border-box;
    width: 16%;
    height: 90%;
}

.info2-style{
    position: relative;
    top: -20px;

}

#icon2-style{
    margin-right:23%;
    position: relative;
    left: 11%;
    top: -4px
    
}