.current-city-container{
    background-color: white;
    height: 40%;
    width: 40%;
    top: 20px;
    border-radius: 20px;
    left: 33%;
    position: fixed;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3);
}

#city-style{
    position: absolute;
    left: 10%;    
}

#icon1-style{
    position: relative;
    top: 48%;
    right: 30%
}
#condition-style{
    position:absolute;
    top: 70%;
    left: 12%
}
#temp-style{
    position:absolute;
    top:22%;
    left: 17%;
    font-size: 20px;
}

#time-style{
    position:absolute;
    left: 55%;
    top: 5%;
}

.info1-style{
    position:absolute;
    left: 56%;
    top: 34%
}

